div#game-wrapper {
  position: relative;
  border: solid 16px black;
  width: var(--player-width);
  height: var(--player-height);
  box-sizing: content-box;
}

div.hide-canvas canvas {
  opacity: 0;
}