div.game-browser-card-wrapper {
  width: 10em;
  height: 12em;
}

div.game-browser-card-wrapper-inner {
  border-style: solid;
  border-width: 3px;
  border-color: var(--clr-text-a);

  padding: 1em;

  width: 10em;
  height: 12em;

  background-color: var(--clr-bg-a);
  box-shadow: 0.1em 0.1em 0.3em var(--clr-text-a);

  transition: transform 0.1s, width 0.1s, height 0.1s;
  text-overflow: ellipsis;
  /* overflow: hidden; */
}

div.game-browser-card-title-wrapper {
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.game-browser-card-wrapper h2 {
  text-align: center;
  overflow-wrap: break-word;
  overflow: hidden;
}

div.game-browser-card-wrapper-inner:hover {
  cursor: pointer;

  width: 18em;
  height: 30em;

  transform: scale(1) translate(-4em, -3em);

  box-shadow: 1em 1em 1em var(--clr-text-a);


  transition: transform 0.3s, width 0.3s, height 0.3s, box-shadow 0.3s;
  z-index: 1;
}

p.game-browser-description {
  opacity: 0;
  text-align: left;
}

div.game-browser-card-wrapper-inner:hover p.game-browser-description {
  opacity: 1;
  transition: opacity 0.8s 0.3s;
}