:root {
  --font-p: 'Archivo Narrow', sans-serif;
  --font-h: 'Acme', sans-serif;
}

a {
  font-family: var(--font-h);
}
p {
  font-family: var(--font-p);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-h);
}